/* Styles go here */
.mh-scrollbar {
  position: absolute;
  bottom: 0;
  background-color: #ccc;
}

.mh-scroller {
  height: 5px;
  width: 100px;
  background-color: #333;
}

.dumpContainer {
  width: 300px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  width: 200px;
  font-size: 2em;
  
}

li a {
  padding: 1em;
}
